<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HoldenTaskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <HoldenTaskManager.Properties.Settings>
            <setting name="odbc_conn1" serializeAs="String">
                <value>Dsn=ibis_dev;server=192.168.2.207;database=folnar;port=3306</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value>1.4.5</value>
            </setting>
            <setting name="InstallDirectory" serializeAs="String">
                <value>I:\_Temporary Job File\dcasale\TaskMgr_Install</value>
            </setting>
        </HoldenTaskManager.Properties.Settings>
    </userSettings>
</configuration>
